<mat-toolbar> Add a New Book </mat-toolbar>

<div class="add-book-form">
    <a [routerLink]="['/books']">Back</a>
    <form (submit)="submitAdd()" #myForm="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Book Title" [(ngModel)]="bookDetails.title" name="title" required >
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <input matInput placeholder="Book Author" [(ngModel)]="bookDetails.author" name="author" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Book Price" type="number"  [(ngModel)]="bookDetails.price"  name="price" required>
      </mat-form-field>
    
      <table class="full-width" cellspacing="10px;">
          <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="dateadded" [(ngModel)]="bookDetails.dateadded"  name="dateadded" placeholder="Date Added">
                    <mat-datepicker-toggle matSuffix [for]="dateadded"></mat-datepicker-toggle> 
                  </mat-form-field>
                  <mat-datepicker #dateadded (selectedChanged)="updateDateAdded($event)"></mat-datepicker>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="dateread" [(ngModel)]="bookDetails.dateread" (change)="isRead=true"  name="dateread" placeholder="Date Read " >
                    <mat-datepicker-toggle matSuffix [for]="dateread"></mat-datepicker-toggle>
                  </mat-form-field>
                  <mat-datepicker #dateread (selectedChanged)="updateDateRead($event)"></mat-datepicker>
            </td>
          </tr>
      </table>
    
      <div *ngIf="isRead">
          <mat-form-field class="full-width">
              <textarea matInput rows="5" placeholder="Book Description" [(ngModel)]="bookDetails.description" name="description" ></textarea>
            </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Book Rate (1-5)" min="1" max="5" step="0.1" type="number" [(ngModel)]="bookDetails.rate" name="rate">
          </mat-form-field>    
      </div>
      
      <mat-form-field class="full-width">
          <input matInput placeholder="Image Url (enter image URL)" [(ngModel)]="bookDetails.imageUrl" name="imageUrl" required>
      </mat-form-field><br>
      <img src="{{bookDetails.imageUrl}}" alt="{{title}}">
      <hr>
      <button mat-raised-button value="submit" [disabled]="!myForm.form.valid"> Create Book </button>
    </form>
</div>